
.DS_Store
modbp/src_cpp/Mod_BP_Xcode/
ModularityBP.xcodeproj/xcuserdata/ben.xcuserdatad/xcschemes/ModularityBP.xcscheme
ModularityBP.xcodeproj/xcuserdata/ben.xcuserdatad/xcschemes/xcschememanagement.plist
ModularityBP.xcodeproj/xcuserdata/ben.xcuserdatad/xcschemes/xcschememanagement.plist
ModularityBP.xcodeproj/xcuserdata/ben.xcuserdatad/xcschemes/xcschememanagement.plist
ModularityBP.xcodeproj/project.xcworkspace/xcuserdata/ben.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.pyc
build/